html{
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing:inherit;
}

@font-face{
    font-family: 'SF Pro Display';
    src: url(../fonts/FontsFree-Net-SFProDisplay-Light.ttf);
}

body {
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    padding: 0;
    cursor: pointer;
}
 

ul {
    list-style: none;
}

.container {
    max-width: 1740px;
    margin: 0 auto;
}

header {
    background-color: rgba(83, 141, 255, 0.05);
}

.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 175px;
}

.logo {
    margin-right: 21px;
}

.menu {
    display: flex;
}

.menu__list {
    margin-right: 31px;
    color: #00000059;
}

.menu__list:hover {
    font-weight: bold;
    color:#000000;
}

.contacts {
    display: flex;
    align-items: center;
    font-weight: 700;
    color: #606060;
    font-size: 18px;
    line-height: 21px;
}

.contacts img {
    height: 16px;
    width: 16px;
    margin-right: 10px;
}

.contacts__number{
    margin-right: 41px;
}

.wishlist {
    margin-right: 41px;
}

.shopping-cart {
    width: 149px;
    height: 53px;
    background: rgba(254, 179, 2, 0.45);
    border-radius: 13px;
    display: flex;
}

.shopping-cart a {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: 15px;
    margin-left: 17px;
}

.total {
    width: 38px;
    height: 39px;
    color: #444444;
    background-color: #fff;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 7px;
    text-align: center;
    padding-top: 9px;
}

.shopping-cart span {
    height: 39px;
    width: 38px;
    border-radius: 10px;
    background: #FFFFFF;
}

.header__content {
    margin-left: 30px;
    display: flex;
}

.title {
    font-family:'Roboto', sans-serif;
    font-size: 161px;
    color:#232323;
    font-weight: 300;
    margin-top: 186px;
    margin-bottom: 48px;
}

.title-brown {
    color:#BC5D1D;
    font-weight: 300;
}

.title-descr {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 50px;
    letter-spacing: 1px;
    color: #605F5F;
    margin-bottom: 83px;
}

.search-bar {
    width: 631px;
    height: 106px;
    background: #fff;
    border-radius: 25px;
    position: relative;
    margin-bottom: 228px;
}

.search-bar input {
    background: transparent;
    margin-top: 40px;
    margin-left: 28px;
    border: none;
    outline: none;
    font-family: 'SF Pro Display';
    font-weight: 300;
    font-size: 24px;
    color: #000000;
    opacity: 0.65;
}

.search-bar button {
    height: 106px;
    width: 106px;
    border-radius: 25px;
    background: #FEB302;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.search-bar button img {
    height: 40px;
    width: 40px;
}

.container-two {
    width: 707px;
    height: 749px;
    background: #BC5D1D;
    border-radius: 30px;
    background-image: url(../photo/home-photo/photo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 147px;
    margin-left: 177px;
    position: relative;
}

.photo1 {
    position: absolute;
    top: 115px;
    left: 48px;
    height: 519px;
    width: 330px;

}

.photo2 {
    position: absolute;
    top: 280px;
    left: 409px;
    height: 536px;
    width: 358px;
}

.footer__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    margin-bottom: 176px;
}

.footer .menu {
    margin-left: 282px;
    margin-top: 106px;
}

.footer .menu__list {
    color: #000000;
}

.footer .contacts {
    margin-top: 106px;
    margin-right: 99px;
}

.footer .shopping-cart {
    width: 112px;
}

.footer__line {
    width: 100%;
}

.footer__sections {
    display: flex;
    justify-content: space-between;
    margin-left:138px;
    margin-right: 138px;
    margin-top: 45px;
    margin-bottom: 75px;
    color:#252525;
    font-size: 20px;
}

.footer__sections h3 {
    height: 32px;
    width: 118px;
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
}

.footer__sections hr {
    width: 61px;
    border-top: 1px solid #000000;
}

.footer__sections a {
    display: flex;
    flex-direction: column;
}

.section4-contacts div {
    display: flex;
    margin-top: 17px;
}

.section4-contacts img {
    height: 20px;
    width: 20px;
    margin-right: 13px;
}

.section4 {
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
}

/* SECTION ONE */
.section-one{
    margin-top: 178px;
}

.assortment__title {
    height: 84px;
    width: 624px;
    margin: 0 auto;
    font-family: 'Roboto' sans-serif;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    display: flex;
    align-items: center;
}

.assortment__menu {
    width: 1294px;
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 75px auto 128px auto;
}

.assortment__menu-list {
    padding: 13px 16px;
}

.assortment__menu-list:hover {
    background: #FEB302;
    border-radius: 15px;
    color:#fff;
}

.section-one__container {
    display: grid;
    grid-template-columns: 409px 409px 409px 409px;
    gap: 27px;
}

.assortment__box {
    position: relative;
}

.assortment {
    height: 670px;
    background: #F6F9FF;
    border-radius: 27px;
    padding-left: 24px;
    font-size: 16px;
    letter-spacing: 0.891192px;
}

.assortment__img {
    position: absolute;
    top: 15px;
    width: 395px;
    height: 391px;
    border-radius: 27px;
    padding-left: 16px;
}

.assortment__name {
    padding-top: 429px;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 13px;
}

.assortment__descr {
    margin-bottom: 18px;
    line-height: 23px;
    color: #363636;
}

.assortment__sum {
    font-weight: 700;
    line-height: 23px;
    display: flex;
    margin-bottom: 31px;
}

.assortment__sum-sale {
    color: #DA5C5C;
    margin-right: 16px;
}

.assortment__sum-withoutsale {
    color: rgba(54, 54, 54, 0.25);
}

.assortment__footer {
    display: flex;
    text-align: center;
    gap: 10px;
}

.assortment__footer-box {
    width: 55px;
    height: 55px;
    background: #F8F8F8;
    border-radius: 13px;
    cursor: pointer;
}

.assortment__footer-box img {
    padding-top: 16px;
}

.assortment__footer__button {
    width: 184px;
    height: 55px;
    background: #FEB302;
    border-radius: 13px;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}